html {
  scroll-behavior: smooth;
}

#navbar {
  /* transition: background-color 0.5s; */
}

#navbar-mobile-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1.5px);
  transition: background-color 1s;
}

.sticky {
  background-color: white;
  position: fixed;
  width: 100%;
  padding-right: 5.5vw;
  left: 0;
  transition: background-color 0.5s;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.sticky a {
  color: #EC4794 !important;

}

@media only screen and (max-width: 600px) {
  .sticky {
    padding-right: 4.8vw;
  }
}
